environment: development
chdir: /Users/pecarrico/work/pimon
address: 127.0.0.1
user: pecarrico
port: 3000
pid: /Users/pecarrico/work/pimon/log/thin.pid
rackup: /Users/pecarrico/work/pimon/config/config.ru
log: /Users/pecarrico/work/pimon/log/thin.log
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
