%html
  %header
    %title Pimon
    %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js' }
    %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/highcharts/2.2.5/highcharts.js' }
    %script{ :src => '//lipka.github.com/piecon/piecon.min.js' }
  %body
    #chart
    
    = render(:haml,:'index.js',:locals => { :o => @o })
